@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.appointment-wrapper {
    width: 100%;
    height: auto;
    background-color: #c2c8b6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;

    .header {
        width: 100%;
        height: auto;
        text-align: center;

        p {
            font-family: "Poppins", sans-serif;
            font-size: 40px;
            font-weight: 500;
            margin: 0;
        }
    }

    .slogan {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;

        p {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 300;
            margin: 0;
        }
    }

    .web-form-view {
        width: 60%;
        height: auto;
        padding: 10px;
        border-radius: 20px;
        background-color: #dbdbdb91;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .input-wrapper-half {
            width: 49%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;


            p {
                margin: 0;
                font-weight: 600;
            }
        }

        .input-wrapper-full {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                font-weight: 600;
            }
        }

    }

    .required-star {
        color: red;
    }

    .virtual-submittion-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .react-datepicker__view-calendar-icon input {
        width: 100%;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}