@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.news-letter-wrapper{
    background-image: url('../../media/newsletter.png');
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    .content-section{
        width: 50%;
        height: auto;
        p{
            color: white;
            font-size: 25px;
            font-weight: 400;
            font-family: Poppins, sans-serif;
            
        }
    }
}